<html lang="en">
<%- include("user_header")%>

    <div class="contactcard mt-5">
        <div class="container d-flex justify-content-center gap-5">
            <div class="w-50 groupcard border p-5">
                <h1 class="text-center text-white">Groups</h1>
                <h1 class="text-center text-white  mt-3" id="group_Count_id"></h1>
            </div>
            <div class=" w-50 contactcard border p-5">
                <h1 class="text-center text-white">Contacts</h1>
                <h1 class="text-center text-white mt-3" id="contact_Count_id"></h1>
            </div>
        </div>
    </div>
    </body>
    <%- include("user_footer")%>

</html>