<html lang="en">
<%- include("header")%>

    <body>
        <form action="/forgetpassword" method="post" id="forget_password_form">
            <h3>Forget Password? No worries!</h3>

            <h4 class="note">Please Share your Email</h4>

            <label for="email">Email</label>
            <input type="email" placeholder="Email" id="email" name="email">

            <button type="submit" id="forget_password_btn">Submit</button>

            <h4 class="titlelogin">Already have an account? <a href="/">Login</a></h4>
            <h4 class="titlelogin">Don't have an account? <a href="/registration">Signup</a></h4>
        </form>
    </body>
    <%- include("footer")%>
        <script src="/public/assets/js/forget_password.min.js"></script>

</html>