<head>
    <link rel="stylesheet" href="/public/assets/css/headers.min.css" type="text/css">
    <input type="hidden" id="url" value="<%= process.env.NODE_URL %>">
    <title>
        <%= header.title %>
    </title>
</head>