<html lang="en">
<%- include("header")%>

    <body>
        <form action="/resendmail" method="post" id="resend_mail_form">
            <h3>Please Enter Email</h3>

            <label for="email">Email</label>
            <input type="email" placeholder="Email" id="email" name="email">

            <button type="submit" id="resend_mail_btn">Submit</button>

            <h4 class="titlelogin">Already have an account? <a href="/">Login</a></h4>
            <h4 class="titlelogin">Don't have an account? <a href="/registration">Signup</a></h4>
        </form>
    </body>
    <%- include("footer")%>
        <script src="/public/assets/js/resend_mail.min.js"></script>

</html>