<html lang="en">
<%- include("header")%>

    <div class="text-wrapper">
        <div class="title">
            your account has been activated
        </div>

        <div class="subtitle">
            you can now login to your account
        </div>
    </div>